[Desktop Entry]
Type=Application
Name={{.Name}}
Exec={{.Exec}}
Icon={{.Icon}}
Comment={{.Comments}}
Categories=Utility;
Terminal=false
StartupNotify=true
Encoding=UTF-8